<!DOCTYPE html>
<html ng-app="myapp">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
<script src="app.js"></script>
<head>
    <title>Promises</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div ng-controller="greetingCtrl">
        <p>The ID is {{greetingResult.id}}</p>
        <p>The content is {{greetingResult.content}}</p>
    </div>

    <div class="page-header" ng-controller="Ctrl">
        <p>{{variable}}</p>
        <button ng-click="test()">Click me</button><br/>
        <input type="checkbox" ng-model="fail">Fail
    </div>

    <div class="page-header" ng-controller="Ctrl">
        <button ng-click="test2()">Click me</button><br/>
        <input type="checkbox" ng-model="fail2">Fail
        Status: {{status2}}
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-waitingfor.js"></script>
</body>
</html>